*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border:  2px solid white; */
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
  width: 100svw;
  background: #35374B;
}
.hist-main{
  position: relative;
  height: 100vh;
  max-height: 100vh;
  min-width: 360px;
  max-width: 480px;
  background: linear-gradient(145deg, #35374B, #344955);
  box-shadow: 9.91px 9.91px 15px #35374B, -9.91px -9.91px 15px #344955;
}
.hist-head{
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #78A083;
  background: linear-gradient(145deg, #35374B, #344955);
  box-shadow: 9.91px 9.91px 15px #35374B, -9.91px -9.91px 15px #344955;
}
.head h3{
  font-weight: 800;
}
div .historyList{
  width: 100%;
  max-height: 70%;
  min-height: 70%;
  overflow-y: auto; 
  padding: 10px;
}
.historyList ul li{
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 12px 8px 12px 20px;
  user-select: none;
  cursor: pointer;
  position: relative;
  margin-block: 8px;
  background: #35374B;
  border-radius: 15px;
  box-shadow: inset 9.91px 9.91px 15px #35374B, inset -9.91px -9.91px 15px #344955;
  font-weight: 500;
  color: #78A083;
}
ul li span{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 100%;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: linear-gradient(145deg, #35374B, #344955);
  box-shadow: 9.91px 9.91px 15px #35374B, -9.91px -9.91px 15px #344955;
 }
 ul li span i{
  color: #78A083;
  font-size: 26px;
 }
 ul li span:hover{
  background: #35374B;
  border-radius: 50%;
  box-shadow: inset 9.91px 9.91px 15px #35374B, inset -9.91px -9.91px 15px #344955;
}
ul li span i:hover{
   color: #344955;
 }
.back-btn{
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back-btn button{
  /* position: absolute;
  bottom: 40px; */
  height: 50px;
  width: 50px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  background: linear-gradient(145deg, #35374B, #344955);
  box-shadow: 9.91px 9.91px 15px #35374B, -9.91px -9.91px 15px #344955;
}
.back-btn button span a{
  color: #78A083;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}
.back-btn button:hover{
  background: #35374B;
  border-radius: 15%;
  box-shadow: inset 9.91px 9.91px 15px #35374B, inset -9.91px -9.91px 15px #344955;
}
.back-btn button i:hover{
  color: #344955;
}