*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;

  /* border: 1px solid red; */
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
  width: 100svw;
  background: #8a96ab;
}
.main{
  height: 100vh;
  max-height: 100vh;
  min-width: 320px;
  max-width: 480px;
  background: linear-gradient(145deg, #8a96ab, #CADCFC);
  box-shadow: 9.91px 9.91px 15px #8a96ab, -9.91px -9.91px 15px #CADCFC;
}
.activity{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 40px;
 width: 100%;
 height: 15%;
}
.history {  
  margin: 10px 0 0 40px; 
  width: 200px;
  height: 60px;
  border-radius: 10px;
  background: linear-gradient(145deg, #8a96ab, #CADCFC);
  box-shadow: 9.91px 9.91px 15px #8a96ab, -9.91px -9.91px 15px #CADCFC;
}
.history .text-head-history{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 800;
  font-size: 20px;
  padding: 5px 5px 0px 10px;
  color: #00246B;
}
.history .text-head-history span{
  color: #00246B;
}
.history .box-text{
  padding-left: 10px;
  color: #00246B;
  opacity: 1;
}
.starred{
  margin: 10px 40px 0px 0px;
  width: 200px;
  height: 60px;
  border-radius: 10px;
  background: linear-gradient(145deg, #8a96ab, #CADCFC);
  box-shadow: 9.91px 9.91px 15px #8a96ab, -9.91px -9.91px 15px #CADCFC;
}
.starred .text-head-starred{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 800;
  font-size: 20px;
  padding: 5px 5px 0px 10px;
  color: #00246B;
}
.starred .text-head-starred span{
  color: #00246B;
}
.starred .box-text{
  padding-left: 10px;
  color: #00246B;
}
.updates{
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(126, 4, 4);
}
.search-box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.search-box ::placeholder{
  color: #00246B;
  opacity: 1;
}
.search-box input{
  height: 50px;
  width: 70%;
  max-width: 400px;
  padding: 10px 20px;
  border: none;
  font-size: 15px;
  border-radius: 5px 0 0 5px;
  color: white;
  background: #8a96ab;
  box-shadow: inset 9.91px 9.91px 15px #8a96ab, inset -9.91px -9.91px 15px #CADCFC;
}
.search-box button {
  height: 50px;
  width: 10%;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 100%;
  border-radius: 15%;
  background: linear-gradient(145deg, #8a96ab, #CADCFC);
  box-shadow: 9.91px 9.91px 15px #8a96ab, -9.91px -9.91px 15px #CADCFC;
}
.search-box button:hover{
  color: #fff;
  background: #8a96ab;
  border-radius: 15%;
  box-shadow: inset 9.91px 9.91px 15px #8a96ab, inset -9.91px -9.91px 15px #CADCFC;
}
.design_box{
  height: 400px;
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dictation-box{
  height: 380px;
  width: 300px;
  border-radius: 15%;
  background: #8a96ab;
  box-shadow: inset 9.91px 9.91px 15px #8a96ab, inset -9.91px -9.91px 15px #CADCFC;
}
.result{
  position: relative;
  padding: 10px;
}
.result h3{
  font-size: 30px;
  color: #00246B;

}
.result .word{
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.result .details{
  display: flex;
  gap: 10px;
  color: #ffffff;
  margin: 5px 0 20px 0;
  font-size: 14px;
}

.word-meaning{
  color: #fff;
}
.word-example{
  color: #575a7b;
  font-style: italic;
  border-left: 5px solid #ae9cff;
  padding-left: 20px;
  margin-top: 30px;
}

.footer{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.footer-buttons{
  height: 70px;
  width: 70px;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 15%;
  background: linear-gradient(145deg, #8a96ab, #CADCFC);
  box-shadow: 9.91px 9.91px 15px #8a96ab, -9.91px -9.91px 15px #CADCFC;
}
.speak span{
  font-size: 20px;
  color: #00246B;
}
.mic span{
  font-size: 20px;
  color: #00246B;
}
.star span{
  font-size: 20px;
  color: #00246B;
}
.footer button:hover{
  color: #fff;
  background: #8a96ab;
  border-radius: 15%;
  box-shadow: inset 9.91px 9.91px 15px #8a96ab, inset -9.91px -9.91px 15px #CADCFC;
}


