*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e46d1d;
}
.main{
  height: 100vh;
  max-height: 100vh;
  min-width: 320px;
  max-width: 480px;
  background: #D65400
}
.activity{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 40px;
 width: 100%;
 height: 15%;
}
.history {  
  margin: 10px 0 0 40px; 
  width: 200px;
  height: 60px;
  border-radius: 10px;
  background: linear-gradient(145deg, #B64700, #F66100);
  box-shadow: 9.91px 9.91px 15px #C34C00, -9.91px -9.91px 15px #E95C00;
}
.history .text-head-history{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 800;
  font-size: 20px;
  padding: 5px 5px 0px 10px;
}
.history .text-head-history span{
  color: #ffdd00;
}
.history .box-text{
  padding-left: 10px;
  color: #fff;
  opacity: 1;
}
.starred{
  margin: 10px 40px 0px 0px;
  width: 200px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 0 10px 16px rgba(0,0,0,0.1);
  background: #fff;
  background: linear-gradient(145deg, #B64700, #F66100);
  box-shadow: 9.91px 9.91px 15px #C34C00, -9.91px -9.91px 15px #E95C00;
}
.starred .text-head-starred{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 800;
  font-size: 20px;
  padding: 5px 5px 0px 10px;
}
.starred .text-head-starred span{
  color: #ffdd00;
}
.starred .box-text{
  padding-left: 10px;
}
.search-box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.search-box ::placeholder{
  color: #fff;
  opacity: 1;
}
.search-box input{
  height: 50px;
  width: 70%;
  max-width: 400px;
  padding: 10px 20px;
  border: none;
  font-size: 15px;
  border-radius: 5px 0 0 5px;
  color: white;
  background: #D65400;
  box-shadow: inset 9.91px 9.91px 15px #C34C00, inset -9.91px -9.91px 15px #E95C00;
}
.search-box button {
  height: 50px;
  width: 10%;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 100%;
  background: linear-gradient(145deg, #FE6400, #AE4400);
  box-shadow: 9.91px 9.91px 15px #C34C00, -9.91px -9.91px 15px #E95C00;
}
.search-box button :hover{
  color: #fff;
  background: linear-gradient(145deg, #AE4400, #FE6400);
  border-radius: 100%;
  box-shadow: inset 9.91px 9.91px 15px #C34C00, inset -9.91px -9.91px 15px #E95C00;
}
.design_box{
  height: 400px;
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dictation-box{
  height: 380px;
  width: 300px;
  background: rgb(236, 156, 182);
  border-radius: 10px;
  background: #D65400;
  border-radius: 15%;
  box-shadow: inset 9.91px 9.91px 15px #C34C00, inset -9.91px -9.91px 15px #E95C00;
}
.result{
  position: relative;
  padding: 10px;
}
.result h3{
  font-size: 30px;
  color: #1f194c;

}
.result .word{
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.result .details{
  display: flex;
  gap: 10px;
  color: #ffffff;
  margin: 5px 0 20px 0;
  font-size: 14px;
}

.word-meaning{
  color: #fff;
}
.word-example{
  color: #575a7b;
  font-style: italic;
  border-left: 5px solid #ae9cff;
  padding-left: 20px;
  margin-top: 30px;
}

.footer{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.speak{
  height: 70px;
  width: 70px;
  border: none;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(145deg, #B64700, #F66100);
  border-radius: 15%;
  box-shadow: 9.91px 9.91px 15px #C34C00, -9.91px -9.91px 15px #E95C00;
}
.speak span{
  font-size: 20px;
  color: #fff;
}
.mic{
  height: 70px;
  width: 70px;
  border: none;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(145deg, #B64700, #F66100);
  border-radius: 15%;
  box-shadow: 9.91px 9.91px 15px #C34C00, -9.91px -9.91px 15px #E95C00;
}
.mic span{
  font-size: 20px;
  color: #fff;
}
.star{
  height: 70px;
  width: 70px;
  border: none;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(145deg, #B64700, #F66100);
  border-radius: 15%;
  box-shadow: 9.91px 9.91px 15px #C34C00, -9.91px -9.91px 15px #E95C00;
}
.star span{
  font-size: 20px;
  color: #fff;
}
.footer button:hover{
  color: #fff;
  background: #D65400;
  border-radius: 15%;
  box-shadow: inset 9.91px 9.91px 15px #C34C00, inset -9.91px -9.91px 15px #E95C00;
}

